@mixin scrollbar() {
     
    // Firefox
     scrollbar-width: 7px;
     scrollbar-color: $lightGrey $white;
 
     // Chrome
     &::-webkit-scrollbar {
         width: 7px;
     }
 
     &::-webkit-scrollbar-thumb {
         background: $darkGrey;
         border-radius: 12px;
     }
 
     &::-webkit-scrollbar-track {
         background: $white;
         border-left: 1px solid $lightGrey;
     }
}
