footer {
    grid-area: footer;
    display: flex;
    color: $black;
    border-top: $borderStyle;
    padding: 10px 0;
    justify-content: center;
    align-items: center;

    .creator-site {
        font-weight: bolder;
    }
}