@import "../mixins/scrollVertically";
@import "../mixins/keepCentered";
@import "../mixins/codeInText";
@import "../mixins/textContour";
// @import "../mixins/scrollbar";

main {
    @include scrollVertically();
    grid-area: main;
    overflow-y: scroll;

    a {
        color: $linkColor;
        // font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin: 20px 0;
        @include keepCentered();

        img {
            $imageSize: 150px;
            max-width: auto;
            max-height: $imageSize;
            object-fit: contain;
            filter: drop-shadow(15px 15px 7px hsl(var(--shadow-color) / 0.4));
        }
    }

    h2 {
        text-align: center;
        margin: 50px 0;
        color: white;
        @include textContour($grey);
        letter-spacing: 4px;
        font-size: 3.7rem;
        font-family: Georgia;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: geometricPrecision;
        @include keepCentered();
        filter: drop-shadow(5px 5px 3px hsl(var(--shadow-color) / 0.3));
    }

    p {
        margin-bottom: 20px;
        padding: 0 50px;
        // font-weight: bolder;
        color: $grey;
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.4;
        @include keepCentered();

        code {
            @include codeInText();
        }
    }

    // strong {
    //     font-weight: bolder;
    // }

    li {
        margin: 0 50px;
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 10px 20px;
        @include keepCentered();
    }

    .info {
        color: $grey;
        width: 100%;

        & > p {
            font-size: 1rem;
            margin-bottom: 15px;
            padding: 0;
            text-align: left;
            margin-right: 0;
            line-height: 1.8;

            code {
                @include codeInText();
            }
        }
    }

    .inline-copy-code {
        display: flex;
    }

    .copy-wrapper {
        position: relative;
        top: 8px;
        right: 10px;
        cursor: pointer;
        svg {
            fill: $black;
            width: 20px;
            height: auto;
            &:hover {
                fill: grey;
            }
            &:active {
                fill: $white;
            }
            // filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
        }
    }

    code {
        font-size: larger;
        color: $white;
        background-color: $black;
        padding: 8px;
        border-radius: 5px;
        // width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        box-shadow: var(--shadow-elevation-medium);

        .sign {
            color: $signColor;
        }

        &::-webkit-scrollbar {
            height: 10px;
        }

        &::-webkit-scrollbar-track {
            border: 0;
            background: $black;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $darkGrey;
            border-radius: 5px;
            border: 3px solid $black;
        }

        // Firefox
        scrollbar-color: $darkGrey $black;
    }

    .creator-site {
        font-weight: bolder;
    }

    // @include scrollbar(14px, 14px, $darkGrey, 1px solid red, $white, 1px solid red);
}
