@import "../mixins/scrollVertically";

nav {
    @include scrollVertically();
    grid-area: navbar;
    border-right: $borderStyle;
    padding-right: 10px;
    overflow-y: scroll;

    .search-area {
        display: flex;
        margin: 20px 10px;
        font-family: monospace;
        color: $grey;
        font-size: 1.2rem;
        border-radius: 20px;
        overflow: hidden;

        $sizeBorder: 3px;
        border: $sizeBorder solid $lightGrey;

        &:hover {
            border: $sizeBorder solid $linkColor;
        }

        & > * {
            border: 1px solid transparent;
            background-color: white;
            padding: 5px 10px;
        }

        .search-icon {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        input {
            // padding: 5px 10px;
            width: 100%;
            outline: none;
            font-size: 1.2rem;
            color: $black;
        }

        // Reste button
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $grey;
            font-size: 1.2rem;
            width: max-content;
            cursor: pointer;
            &:active {
                color: red;
            }
        }
    }

    .cmd-not-found {
        text-align: center;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;

        li {
            margin: 5px;
            padding: 4px 6px;
            cursor: pointer;
            background-color: $black;
            color: $white;
            border-radius: 5px;
            text-align: center;
            font-family: monospace;
            font-size: larger;
            box-shadow: var(--shadow-elevation-low);
            border: 1px solid $black;

            &:hover {
                background-color: $grey;
                border: 1px solid $grey;
            }
        }

        li.net-cmd {
            background-color: $netCmd;
            color: $white;
            border: 1px solid $netCmd;

            &:hover {
                background-color: $netCmdHover;
                border: 1px solid $netCmdHover;
            }
        }

        li.item-selected {
            background-color: $bleachWhite !important;
            color: $black !important;
            border: 1px solid $grey !important;
            cursor: default !important;
        }
    }
}
